@model MovieVM

<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input class="form-control" type="text" name="Name" value="@Model.Movie.Name" required />
    </div>

    <div class="mb-3">
        <label class="form-label">Price</label>
        <input class="form-control" type="number" name="Price" value="@Model.Movie.Price" required />
    </div>

    <div class="mb-3">
        <label class="form-label">Date Time</label>
        <input class="form-control" type="datetime-local" name="DateTime" value="@Model.Movie.DateTime.ToString("yyyy-MM-ddTHH:mm")" />
    </div>

    <div class="mb-3">
        <label class="form-label">Category</label>
        <select class="form-select" name="CategoryId" required>
            <option value="">Select Category</option>
            @foreach (var category in Model.Categories)
            {
                if (category.Id == Model.Movie.CategoryId)
                {
                    <option value="@category.Id" selected>@category.Name</option>
                }
                else
                {
                    <option value="@category.Id">@category.Name</option>
                }
            }
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">Actors</label>
        <select class="form-select" name="ActorIds" multiple required>
            @foreach (var actor in Model.Actors)
            {
                bool isSelected = Model.Movie.MovieActors.Any(ma => ma.Actor.Id == actor.Id);
                if(isSelected)
                {
                    <option value="@actor.Id" selected>@actor.Name</option>
                }
                else
                {
                    <option value="@actor.Id">@actor.Name</option>
                }
                
            }
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">Cinema Hall</label>
        <select class="form-select" name="CinemaHallId" required>
            <option value="">Select Cinema Hall</option>
            @foreach (var hall in Model.CinemaHalls)
            {
                if (hall.Id == Model.Movie.CinemaHallId)
                {
                    <option value="@hall.Id" selected>@hall.Name</option>
                }
                else
                {
                    <option value="@hall.Id">@hall.Name</option>
                }
            }
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">Status</label>
        <select class="form-select" name="Status" required>
            @if(Model.Movie.Status == MovieState.ComingSoon)
            {
                <option value="@MovieState.ComingSoon" selected>Coming Soon</option>
                <option value="@MovieState.NowShowing" >Now Showing</option>
            }
            else
            {
                <option value="@MovieState.ComingSoon">Coming Soon</option>
                <option value="@MovieState.NowShowing" selected>Now Showing</option>
            }
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">Upload Image</label>
        <input class="form-control" type="file" name="img" />
        @if (!string.IsNullOrEmpty(Model.Movie.MainImg))
        {
            <div class="mt-2">
                <img src="@Model.Movie.MainImg" alt="@Model.Movie.Name" width="120" class="rounded border shadow-sm" />
            </div>
        }
    </div>

    <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea class="form-control" rows="3" name="Description">@Model.Movie.Description</textarea>
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
</form>
